.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
.settings
.buildpath
.project
Dockerfile
composer.lock
*.xml
*.yml
Vagrantfile
phpunit.xml.dist